.THIS .toggle {
    display: flex !important;
}
.THIS .forceRecordLayout{
    width:60% !important;
    border: 1px solid #dadcdd !important;
}
.THIS .addPadding{
    padding-left: .75rem!important;
}
.THIS .addPaddingtop{
    padding-top: .75rem!important;
}
.THIS.addPaddingToButtonGroup{
    padding-top: .75rem!important;
    width: 100%!important;
	text-align: center!important;
    display: inline-block!important;
}
.THIS .addSpacingToNorecordDisplay{
	padding-top: 12rem!important;
    padding-bottom: 12rem!important;
    width: 100%!important;
    text-align: center!important;
}