.THIS.body { height: 75%; }
        
        .THIS.body {
          margin: 0;
          background: linear-gradient(#eeeeee, #cccccc);
          overflow: hidden;
        }
.THIS {
}
.THIS.dropContent{
    border-radius: 82px;
    padding: 73px 100px;
    border: 1px dashed #060606;
    background-color: #dedede;
}
.THIS.draggableIcon{
	height: 150px;
	width: 150px;
	border-radius: 76px;	
}
.THIS .parentCircle
    {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: #CD853F;
        border-radius: 50%;
    }
.THIS .div2
    {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #FFFFFF;
        border-radius: 100px;
    	border: 1px dashed #060606;
    }
.THIS .div1 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.THIS#outer-dropzone {
  height: 140px;
}

.THIS#inner-dropzone {
  height: 80px;
}

.THIS.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.THIS.drop-active {
  border-color: #aaa;
}

.THIS.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.THIS.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.THIS.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
.THIS .objectTypeCircle{
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #CD853F;
        border-radius: 50%;
}
.THIS .objectTypeSquare
    {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #CD853F;
}
.THIS .parentTable
    {
        position: relative;
        width: 300px;
        height: 36px;
        background-color: #CD853F;
   		margin : 80px;
   }
.THIS .defaultSeat
    {
        position: relative;
        width:  20px;
        height: 20px;
        border: 1px dashed #060606;
   		margin : 60px 0px -108px 53px;
    }
.THIS .defaultSeat1
    {
        position: relative;
        width:  20px;
        height: 20px;
        border: 1px dashed #060606;
   		margin : -108px 0px 0px 208px;
    }
.THIS .chair
    { 
    	display: inline-block;
        width: 24px;
    	height: 24px;
    	border: 1px dashed #060606;
    	margin: -25px 10px 0px 0px;
    }
.THIS .lm
    {
    	margin-left: 100px;
    }
.THIS .firstDiv{
    float: left;
    margin: -30px 100px;
}
.THIS .thirdDiv{
    float: left;
    margin: -60px 100px;
}
.THIS .p{
    margin: 8px 9px 10px;
  
}
.THIS .p1{
  text-align: center;
  line-height: 117px;
  margin: 0 53px 49px;
  
}